<%- include('header'); -%>
<h2>I ❤ Ayodhya</h2>
<div>Ayodhya is a city situated on the banks of holy river Saryu in the Indian state of Uttar Pradesh. It is the
    administrative headquarters of the Faizabad district as well as the Faizabad division of Uttar Pradesh, India. It
    shares a municipal corporation with its neighbouring twin city of Faizabad. </div>

    <%- include('footer'); -%>